
{% extends 'Apartment.html' %}
{% load static %}
{% block content %}
  <h1 class="text-center">Search Results</h1>
<hr>
<div class="container">
          <div class="row">
          {% for i in Type %}

          <div class="col-md-6 col-lg-3 mb-5" data-aos="fade-up" data-aos-delay="100">
            <a href="apartment-detail.html" class="unit-9" >
              <div class="image" style="background-image: url({{i.Type_Image.url}});"></div>
              <div class="unit-9-content">
                <h2>{{i.Types}}</h2>
                <h3>{{i.Company_Name}}</h3>




                <!-- <span>with Wendy Matos</span> -->
              </div>

            </a>
             <div class=" col-md-6 d-flex justify-content-center">
              <a href="{% url 'single_ApartPage' dataid=i.id %}" class="btn btn-dark text-center ml-7" style="width:550em; height:2em; margin-top:1em;border-radius: 2em;">More details</a>
                </div>


          </div>
          {% endfor %}


<!--          <div class="col-md-6 col-lg-3 mb-5" data-aos="fade-up" data-aos-delay="200">-->
<!--            <a href="apartment-detail.html" class="unit-9">-->
<!--              <div class="image" style="background-image: url({% static 'images/img_2.jpg' %});"></div>-->
<!--              <div class="unit-9-content">-->
<!--                <h2>Baltimore</h2>-->
<!--                <span>$230/night</span>-->
<!--              </div>-->
<!--            </a>-->
<!--          </div>-->
<!--          <div class="col-md-6 col-lg-3 mb-5" data-aos="fade-up" data-aos-delay="300">-->
<!--            <a href="apartment-detail.html" class="unit-9">-->
<!--              <div class="image" style="background-image: url({% static 'images/img_3.jpg' %});"></div>-->
<!--              <div class="unit-9-content">-->
<!--                <h2>Austin</h2>-->
<!--                <span>$130/night</span>-->
<!--              </div>-->
<!--            </a>-->
<!--          </div>-->
<!--          <div class="col-md-6 col-lg-3 mb-5" data-aos="fade-up" data-aos-delay="400">-->
<!--            <a href="apartment-detail.html" class="unit-9">-->
<!--              <div class="image" style="background-image: url({% static 'images/img_4.jpg' %});"></div>-->
<!--              <div class="unit-9-content">-->
<!--                <h2>Atlanta</h2>-->
<!--                <span>$150/night</span>-->
<!--              </div>-->
<!--            </a>-->
<!--          </div>-->


<!--          <div class="col-md-6 col-lg-3 mb-5" data-aos="fade-up" data-aos-delay="100">-->
<!--            <a href="apartment-detail.html" class="unit-9">-->
<!--              <div class="image" style="background-image: url({% static 'images/img_1.jpg' %});"></div>-->
<!--              <div class="unit-9-content">-->
<!--                <h2>Nashville</h2>-->
<!--                <span>$130/night</span>-->
<!--                &lt;!&ndash; <span>with Wendy Matos</span> &ndash;&gt;-->
<!--              </div>-->
<!--            </a>-->
<!--          </div>-->

<!--          <div class="col-md-6 col-lg-3 mb-5" data-aos="fade-up" data-aos-delay="200">-->
<!--            <a href="apartment-detail.html" class="unit-9">-->
<!--              <div class="image" style="background-image: url({% static 'images/img_2.jpg' %});"></div>-->
<!--              <div class="unit-9-content">-->
<!--                <h2>Baltimore</h2>-->
<!--                <span>$230/night</span>-->
<!--              </div>-->
<!--            </a>-->
<!--          </div>-->
<!--          <div class="col-md-6 col-lg-3 mb-5" data-aos="fade-up" data-aos-delay="300">-->
<!--            <a href="apartment-detail.html" class="unit-9">-->
<!--              <div class="image" style="background-image: url({% static 'images/img_3.jpg' %});"></div>-->
<!--              <div class="unit-9-content">-->
<!--                <h2>Austin</h2>-->
<!--                <span>$130/night</span>-->
<!--              </div>-->
<!--            </a>-->
<!--          </div>-->
<!--          <div class="col-md-6 col-lg-3 mb-5" data-aos="fade-up" data-aos-delay="400">-->
<!--            <a href="apartment-detail.html" class="unit-9">-->
<!--              <div class="image" style="background-image: url({% static 'images/img_4.jpg' %});"></div>-->
<!--              <div class="unit-9-content">-->
<!--                <h2>Atlanta</h2>-->
<!--                <span>$150/night</span>-->
<!--              </div>-->
<!--            </a>-->
<!--          </div>-->


        </div>

</div>
{% endblock %}